<app-menu></app-menu>

<div class="wrapper">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="mb-2">
                    <h1 class="m-0">Favoritos</h1>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="input-group mb-3 col-2">
                                    <b>Title:</b>
                                </div>
                                <div class="col-10">
                                    <input type="text" id="title" name="title">
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="input-group date col-2" data-target-input="nearest">
                                    <b>Date:</b>
                                </div>
                                <div class="col-10">
                                    <input type="date" id="date" name="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- outra row para as queries -->
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="input-group mb-3 col-2">
                                    <b>Author:</b>
                                </div>
                                <div class="col-10">
                                    <input type="text" id="author" name="author">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="input-group mb-3 col-2">
                                    <b>Topic:</b>
                                </div>
                                <div class="col-10">
                                    <select class="form-control" id="topic" name="topic">
                                        <option [value]="1">Topico 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary btn-sm" value><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>

                <div class="card card-default mt-3">
                    <div class="card-body">
                        <p>Found N publicationS.</p>

                        <table class="table table-bordered">
                            <div *ngFor="let favourite of favourites">
                                <app-publication [publication]="favourite">
                                </app-publication>
                            </div>
                            <p>Não existem publicações disponíveis</p>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../static/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../static/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../static/AdminLTE-3.1.0/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../static/AdminLTE-3.1.0/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../static/AdminLTE-3.1.0/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../static/AdminLTE-3.1.0/dist/js/pages/dashboard3.js"></script>
<!-- date-range-picker -->
<script src="../static/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
    });
</script>