<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zer0Sense | Publications</title>
    <style>
        tr {
            cursor: pointer;
        }

        input {
            width: 90%;
        }

        #id_topic {
            display: block;
            width: 90%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            box-shadow: inset 0 0 0 transparent;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    </style>


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/static/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/AdminLTE-3.1.0/dist/css/adminlte.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/static/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.css">
</head>

<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-wrapper" style="margin-left: 0px;">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="mb-2">
                        <h1 class="m-0">Publicações</h1>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2 input-group mb-3">
                                        Title
                                    </div>
                                    <div class="col-10 float-right">
                                        titulo
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-2 input-group date" data-target-input="nearest">
                                        Data
                                    </div>
                                    <div class="col-8">
                                        data
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- outra row para as queries -->
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="input-group mb-3 col-2">
                                        Autor
                                    </div>
                                    <div class="col-10 float-right">
                                        autor
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-2 input-group mb-3">
                                        Topico
                                    </div>
                                    <div class="col-8">
                                        topico
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary btn-sm"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>

                    </form>

                    <div class="card card-default mt-3">
                        <div class="card-body">


                            <p>Found NNNNN publication(S).</p>

                            <table class="table table-bordered">
                                <!-- AQUI -->
                                <!-- Listar as publicações -->

                                <tr class="publication_row">
                                    <td>
                                        <!-- on click go to pub id -->
                                        <div>
                                            <div class="row">
                                                <div class="col-10">
                                                    <h3>titulo</h3>
                                                </div>
                                                <div class="ml-auto col-2">
                                                    <h4>fname lname</h4>
                                                </div>
                                            </div>
                                            <div class="row mb-0">
                                                <div class="col-10">
                                                    <span class="badge badge-danger">topic description</span>
                                                </div>
                                                <div class="col-2 ml-autor">
                                                    <p>created on</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- se n existir!!!!!!-->
                                <p>Não existem publicações disponíveis</p>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <footer class="main-footer" style="margin-left: 0px;">
                <strong>TPW - 2021 <a href="https://github.com/goncalo-leal/TPW_P1"><i
                            class="fab fa-github"></i></a>.</strong>
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 1.0
                </div>
            </footer>
        </footer>
    </div>
</div>
</body>



<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/static/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/static/AdminLTE-3.1.0/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.1.0/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/AdminLTE-3.1.0/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/AdminLTE-3.1.0/dist/js/pages/dashboard3.js"></script>
<!-- date-range-picker -->
<script src="/static/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        $('#id_topic').addClass('form-control');
    });

    function go_to(id) {
        location.href = "../publication/" + id
    }
</script>

</html>