<form action="." method="post" [formGroup]="topicUpdateForm" (ngSubmit)="topicUpdate()">
    <!-- {% csrf_token %}
    {% if user.group.description != " Gestor" or user.group.description !="Admin" %} -->
    <tr class="publication_row">
        <td>
            <div class="row">
                <div class="col-8">
                    <input name="topic_des" value="{{ topic.description }}" formControlName="description">
                </div>

                <div class="ml-auto col-1" style="padding-right: 10px;">
                    <input type="hidden" name="topic_id" value="{{ topic.id }}" formControlName="description">
                    <button type="submit" class="btn btn-primary" name="save" value="save">Save</button>
                </div>
            </div>

        </td>
    </tr>
    <!-- {% endif %} -->
</form>